body, form, td, th, input, select, textarea {
    margin: 0;
    padding: 0;
    font-family: "ו";
    font-size: 12px;
    color: #333;
}

textarea {
    resize: none;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

input, select, textarea, img {
    vertical-align: middle;
}

input {
    border: none;
}

body {
    background: #f8fdff;
}

.wrap {
    width: 388px;
    margin: 0 auto;
}

.wrap table {
    width: 100%;
}

.ceil1 {
    width: 70px;
    text-align: right;
    font-size: 14px;
}

.ceil2 {
    padding-left: 10px;
}

.pB7 {
    padding-bottom: 7px;
}

.text {
    width: 280px;
    height: 21px;
    padding: 6px 9px;
    line-height: 20px;
}

.text, textarea, select {
    border: 1px solid #c0d0d8;
    background: #f3f9fc;
    border-radius: 2px;
    box-shadow: inset 0 3px 3px -3px #a7b6c4;
}

textarea, select {
    border: 1px solid #c0d0d8;
    background: #f3f9fc;
}

textarea.text {
    width: 146px;
    height: 39px;
}

.vcode {
    border: 1px solid #d9ebf7;
    margin-left: 5px;
}

label {
    color: #84a8c8
}

select {
    color: #4199d7;
}

.btn {
    background: url(../img/submit.gif) no-repeat;
    width: 182px;
    height: 52px;
    border: none;
}