/* 模仿重物下落 */
@-webkit-keyframes show {
    0% {
        top: calc(100% - 0.6rem);
    }
    50% {
        top: calc(100% - 0.3rem);
    }
    100% {
        top: calc(100% - 0.6rem);
    }
}

@-moz-keyframes show {
    0% {
        top: calc(100% - 0.6rem);
    }
    50% {
        top: calc(100% - 0.3rem);
    }
    100% {
        top: calc(100% - 0.6rem);
    }
}

@keyframes show {
    0% {
        top: calc(100% - 0.6rem);
    }
    50% {
        top: calc(100% - 0.3rem);
    }
    100% {
        top: calc(100% - 0.6rem);
    }
}

ul, body { margin: 0; padding: 0; font-size: 0.1rem; font-family: Arial, "微软雅黑"; }

li { list-style: none; }

img { vertical-align: top; }

a { color: #fff; text-decoration: none; }

/* 这里不能使用固定定位，有很多兼容问题 */
body, #page { width: 100%; height: 100%; background: #000; position: absolute; overflow: hidden; left: 0; top: 0; }

#header { background: -webkit-linear-gradient(top, #292929, #1e1e1e); background: -moz-linear-gradient(top, #292929, #1e1e1e);
    background: linear-gradient(top, #292929, #1e1e1e); border-top: 2px solid #353535; border-bottom: 2px solid #232323; text-align: center; height: 0.45rem; line-height: 0.45rem; color: #fff; box-sizing: border-box; }

.btn { position: absolute; right: 10px; top: 0.05rem; width: 0.5rem; height: 0.25rem; box-shadow: inset 0 0 2px #2a2a2a, 0 0 2px #252525; border: 2px solid #0d0d0d; line-height: 0.25rem; border-radius: 5px; }

.btn:nth-of-type(1) { right: auto; left: 10px; display: none; }

#footer { background: -webkit-linear-gradient(top, #1e1f21, #121212);
    background: -moz-linear-gradient(top, #1e1f21, #121212);
    background: linear-gradient(top, #1e1f21, #121212); width: 100%; height: 0.55rem; line-height: 0.55rem; position: absolute; bottom: 0; left: 0; color: #fff; text-align: center; box-sizing: border-box; }

#footer a { float: left; width: 50%; box-sizing: border-box; height: 100%; }

#footer a:nth-of-type(1) { border-right: 1px solid #222222; }

#footer a:nth-of-type(2) { border-left: 1px solid #222222; }

#footer a.active { border-color: #0e0e0e; background: -webkit-linear-gradient(top, #101010, #070707); background: -moz-linear-gradient(top, #101010, #070707); background: linear-gradient(top, #101010, #070707); }

#wrap { width: 100%; position: absolute; top: 0.45rem; bottom: 0.55rem; overflow: auto; }

.picList { width: 100%; position: relative; }

/* transition 需要在元素整个渲染完成以后，才会有效果 */
.picList li { background-size: cover; border: 1px solid #000; background-repeat: no-repeat; box-sizing: border-box; width: 1rem; height: 1rem; position: absolute; transition: .5s left, .5s top; left: 0; top: 0; }

.picBox { width: 1rem; height: 1rem; -webkit-perspective: 800px; -moz-perspective: 800px; perspective: 800px; position: absolute; background: no-repeat -1000px 0; overflow: hidden; z-index: 2; }

/* background-image: inherit; 继承父级 */
.picBox div { width: 0.1rem; height: 1rem; position: absolute; left: 0.1rem; top: 0; background-repeat: no-repeat; background-image: inherit; background-size: cover; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: left 0.8rem; -moz-transform-origin: left 0.8rem; transform-origin: left 0.8rem; }

.picBox > div { left: 0; }

.picBox div.show { -webkit-transform: rotateY(-60deg) rotateX(5deg); }

.picBox > div.show { -webkit-transform: rotateY(-60deg) rotateX(5deg) translateX(1rem); }

/* left: calc(50% - 0.6rem) 父级宽度的一半(#page) - 自身宽度一半  左右空格不能少  top: 100%;隐藏 */
.recycle { width: 1.2rem; height: 1.2rem; background: url(img/recycle.png) no-repeat; background-size: cover; position: absolute; left: calc(50% - 0.6rem); top: 100%; transition: 0.5s; z-index: 3; }

.recycle:nth-of-type(1) { background-image: url(img/recycle2.png); z-index: 1; }

.recycleShow { -webkit-animation: .3s show; -moz-animation: .3s show; animation: .3s show; }

