/* reset */
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none }

a { text-decoration: none; }

img { border: none; vertical-align: top; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: auto; }

/* end reset */

/* public css */
.wrap { width: 960px; margin: 0 auto; }

.clearfix { zoom: 1; }

.clearfix:after { content: ""; display: block; clear: both; }

/* end public css */

body { background: #d9e2ce url(../img/bg.gif) repeat-x; min-width: 960px; font-family: "微软雅黑"; font-size: 12px; }

/* header */
#header { background: url(../img/head_bg.jpg) no-repeat center 0; }

.header { height: 94px; }

.header .logo { width: 245px; float: left; height: 0; overflow: hidden; padding-top: 90px; }

.header .logo_right { *display: inline; width: 364px; height: 50px; float: right; color: #afe3f3; margin: 9px 6px 0 0; }

.header .logo_right .feedback { height: 24px; line-height: 24px; }

.header .logo_right .service_line { margin-top: 6px; position: relative; left: 190px; top: 0;
    background: url(../img/icon.gif) no-repeat 0 0; text-indent: 25px; }

.header .logo_right_s3 { background: url(../img/zhuan.png) no-repeat; padding: 3px 12px; margin-left: 11px; }

/* nav */
#nav { height: 43px; background: url(../img/nav_bg.png) no-repeat; }

#nav li { float: left; width: 118px; padding-right: 8px; position: relative; /* 处理png库的一个bug */ }

#nav a { display: block; padding-top: 1px; line-height: 42px; font-size: 16px; color: #fdfbf9; text-align: center;
    background: url(../img/nav_hover.png) no-repeat center 50px; }

#nav a:hover, #nav .active { background-position: center 0; }

/* banner */
#banner { width: 960px; height: 285px; overflow: hidden; position: relative; }

#banner ul li { height: 285px; position: absolute; display: none; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; }

#banner ol { height: 22px; position: absolute; right: 45px; bottom: 16px; }

#banner ol li { float: left; }

#banner ol li a { display: block; *display: inline; width: 20px; height: 20px; float: left; cursor: pointer; line-height: 22px;
    background: url(../img/ol_btn_bg.png) no-repeat; color: #7b91b6; text-align: center; margin-left: 10px; font-weight: bold; }

#banner ol li a:hover,
#banner ol li a.active { background: url(../img/../img/ol_btn_bg.png) no-repeat 0 -30px; color: #ffffeb; }

/* whyQQ */
#whyQQ { height: 281px; background: url(../img/whyqq_bg.png) repeat-x; }

#whyQQ .header { width: 179px; height: 50px; background: url(../img/whyqq_h2_bg.png) no-repeat; position: relative; top: 3px;
    left: -10px }

#whyQQ h2 { height: 0; overflow: hidden; padding-top: 50px; }

#whyQQ ol { margin: 22px 0 5px 11px; }

#whyQQ ol li { width: 300px; float: left; padding: 0 0 30px 14px; background: url(../img/whyqq_ol_li_bg.png) no-repeat; }

#whyQQ ol li.col2,
.main_fn ul li.col2 { background-position: 0 -102px; }

#whyQQ ol li.col3,
.main_fn ul li.col3 { background-position: 0 -204px; }

#whyQQ ol li.col4,
.main_fn ul li.col4 { background-position: 0 -306px; }

#whyQQ ol li.col5 { background-position: 0 -408px; }

#whyQQ ol li.col6 { background-position: 0 -510px; }

#whyQQ ol li h3,
#whyQQ ol li p { width: 238px; padding-left: 46px; color: #262626; }

#whyQQ ol li h3 a { color: #262626; font-size: 12px; }

#whyQQ ol li h3 { line-height: 24px; padding-bottom: 5px; }

#whyQQ ol li p { line-height: 22px; }

/* main */
#main { background: #fff; padding-bottom: 18px; }

.main_left { width: 702px; float: left; }

/* 主要功能 */
.main_fn,
.activity,
.success_case,
.ad_big,
.customer { margin-left: 17px; }

/*.main_fn{ width: 702px;}*/
.main_fn h2 a { font-size: 16px; display: block; height: 62px; line-height: 62px;
    color: #222222; padding-left: 4px; }

.main_fn ul li { width: 320px; height: 71px; float: left; padding: 0 21px 1px 0; margin-bottom: 30px;
    background: url(../img/main_fn_li_bg.png) no-repeat; overflow: hidden; }

.main_fn ul li h3 { padding-bottom: 6px; }

.main_fn ul li h3 a { color: #222; font-size: 12px; }

.main_fn ul li h3,
.main_fn ul li p { line-height: 22px; width: 260px; color: #222; padding-left: 70px; }

/* 市场活动 */
.activity { padding-left: 4px; }

.activity h2 { height: 46px; margin-top: 8px; background: url(../img/h2_t.png) no-repeat 71px 15px; }

.activity h2 a { font-size: 16px; color: #222; }

.activity .more { width: 30px; background: url(../img/more.png) no-repeat 0 14px; position: relative; top: 0;
    left: 568px; padding-left: 4px; }

.activity .more a { color: #1a5d96; font-size: 12px; }

.activity ul { padding-bottom: 10px; }

.activity li { width: 205px; padding: 3px 22px 0 0; float: left; }

.activity li h3 { color: #1a5d96; font-size: 12px; line-height: 34px; padding-top: 10px; }

.activity li strong { color: #c00000; font-weight: normal; line-height: 22px; }

.activity li p { color: #222222; line-height: 22px; }

/* 成功案例 */
.success_case { padding-left: 4px; }

.success_case h2 { height: 46px; margin-top: 12px; background: url(../img/h2_t.png) no-repeat 71px 15px; }

.success_case h2 a { font-size: 16px; color: #222; }

.success_case .more { width: 30px; background: url(../img/more.png) no-repeat 0 14px; position: relative; top: 0;
    left: 568px; padding-left: 4px; }

.success_case .more a { color: #1a5d96; font-size: 12px; }

.success_case ul { padding-bottom: 10px; }

.success_case li { width: 205px; padding: 3px 22px 0 0; float: left; }

.success_case li h3 { color: #1a5d96; font-size: 12px; line-height: 34px; padding-top: 10px; }

.success_case li p { color: #222222; line-height: 22px; }

.ad_big { padding: 11px 0 16px 0 }

.customer { padding-left: 4px; }

.customer h2 { height: 46px; margin-top: 12px; background: url(../img/h2_t.png) no-repeat 102px 15px; }

.customer h2 a { font-size: 16px; color: #222; }

.customer ul { padding-left: 4px; }

.customer li { float: left; padding: 8px 8px 0 0; }

.customer li img { border-radius: 2px; border: 1px solid #dcdcdc; }

.main_right { width: 249px; float: left; padding: 1px 1px 0 8px; }

.qq_talk { padding: 9px 0 0 10px; background: #f7fafd; }

.card_center { margin: 25px 0 0 23px; }

.notice { padding: 25px 0 0 21px; }

.notice h3 { height: 48px; line-height: 37px; font-size: 16px; color: #222222; }

.notice li a { color: #1a5d96; line-height: 27px; }

.ad_side { padding: 38px 0 0 8px; }

.ad_side img { padding-bottom: 2px; }

.report { padding: 9px 0 0 21px; }

.report h3 { height: 48px; line-height: 37px; font-size: 16px; color: #222222; }

.report li { padding-right: 8px; }

.report li a { color: #1a5d96; line-height: 27px; }

#footer { background: linear-gradient(#fefefe, #d9e2ce); height: 160px; text-align: center; line-height: 24px; }

#footer .link { padding-top: 46px; }

#footer a { margin: 0 3px; }

#footer a,
#footer p { color: #808080; }

/* product */
#whatQQ { width: 256px; float: left; background: url(../img/whatQQ_bg.png) repeat-y; margin-top: 12px; }

#whatQQ .side { padding: 14px 0 0 42px; position: relative; }

#whatQQ .side ul li { line-height: 36px; }

#whatQQ .side ul li a { color: #1a5d96; font-size: 12px; }

#whatQQ .side li.active a { color: #0089fe; font-size: 12px; line-height: 36px; font-weight: normal;
    background: url(../img/sj_right.jpg) no-repeat right 5px; padding-right: 10px; }

#whatQQ .side ul li a:hover{  color: #0089fe;}

#whatQQ .side img{ padding-top: 12px;}

#brief { float: left; padding-left: 25px; margin-top: 12px; }

#brief h2 { width: 654px; height: 38px; line-height: 38px; background: #f2f7fc; color: #222222; font-size: 16px;
    margin-bottom: 17px; }

#brief p { line-height: 24px; width: 654px; }

#brief p.mb13 { margin-bottom: 13px; }

#brief p.mt25 { margin-top: 25px; }

#brief span.pdl24 { padding-left: 24px; }

#brief .main_fn_detail { width: 654px; padding-bottom: 17px; }

#brief .main_fn_detail h3 { line-height: 24px; font-size: 13px; background: url(../img/h3_bg.jpg) no-repeat 0 center;
    text-indent: 8px; margin-bottom: 20px; color: #222; }

#brief .main_fn_detail strong { font-size: 13px; line-height: 18px; padding-bottom: 3px; color: #222222; }

#brief .main_fn_detail p { line-height: 24px; padding-bottom: 16px; }

#brief .info_list { width: 654px; }

#brief .info_list h3 { line-height: 18px; font-size: 13px; background: url(../img/h3_bg.jpg) no-repeat 0 center;
    padding-bottom: 3px; text-indent: 8px; }

#brief .info_list ul { padding: 0 0 22px 0; }

#brief .info_list ul li { font-size: 12px; line-height: 24px; color: #222222; text-indent: 24px;
    background: url(../img/li_bg_circle.jpg) no-repeat 10px 10px; }

#brief ol li { list-style: decimal inside; line-height: 24px; }

#brief img { margin: 18px 0 0 18px; }

#brief .tab { width: 636px; }

#brief .tab th { height: 30px; color: #3d78a5; background: #daebf7; border: 1px solid #fff; }

#brief .tab td { height: 37px; background: #f1f7fc; border: 1px solid #ffffff; text-align: left;
    padding: 3px 8px; }

#brief .tab td.active { color: #4d97dc; }

#brief .tab td .info { background: #f0f0f0; border: 1px solid #ccc; padding: 12px 0 0 6px; line-height: 22px;
    margin-bottom: 8px; }

#brief .tab td .info span { display: block; }

#main .down{ padding: 39px 0 0 41px;}

#download_left { width: 568px; height: 308px; float: left; background: url(../img/download_left_bg.jpg) no-repeat;
     position: relative; }

#download_left a.download { position: absolute; left: 82px; top: 214px; width: 126px; height: 46px; text-indent: -999px; }

#download_left a.contact { position: absolute; left: 216px; top: 214px; width: 138px; height: 46px; text-indent: -999px; }

#download_right { width: 286px; height: 308px; float: left; background: url(../img/download_right_bg.jpg) no-repeat;
    margin: 0 0 0 25px; position: relative; }

#download_right a.download { position: absolute; left: 87px; top: 214px; width: 126px; height: 45px; text-indent: -999px; }

#notice{ margin: 50px 0 0 56px;}

#notice h3{ width: 73px; height: 25px; background: #f9e7bf; color: #222222; line-height: 25px; border-radius: 3px;
    padding: 0 6px; margin-bottom: 22px; font-size: 14px;}

#notice p{ color: #935a08; line-height: 24px; font-size: 12px;}

#brief .install{ width: 653px; padding-bottom: 6px;}

#brief .install li{ width: 325px; float: left; }

#brief .install li a{ color: #3d78a5; line-height: 30px;}

#brief .install li a:hover,
#brief .install li a.active{  color: #4d97dc;}

#brief .install_info{  text-align: center;}
#brief .install_info .img{ width: 559px; height: 357px; margin: 28px auto 13px;}

#brief .install_info img{ margin: 0;}
